/*  your css code here. If applicable */
.block-heading{
    text-align:center;
    color:#3b99e0;
    margin-bottom:40px;
}

.summary{
    background:#f7fbff;
    border-top:3px solid #5ea4f3;
    padding:20px;
}

.summary button{
    background:#3b99e0;
    color:white;
    width:100%;
}

.product{
    padding:20px;
    border-bottom:1px solid #ddd;
}